

<form method="post" class="ml-5 mr-5">
    <p>Name</p>
<input class="form-control" type="text" name="Name" placeholder="Name" />
<p>Surname</p>
<input class="form-control" type="text" name="Surname" placeholder="Surname" />
<p>Age</p>
<input class="form-control" type="number"name="Age" placeholder="Age" />
<p>Gender</p>
<input class="form-control" type="text" name="Gender" placeholder="Gender" />
<p>Faculty</p>
<input class="form-control" type="text" name="Faculty" placeholder="Faculty" />
<p>University</p>
<input class="form-control" type="text" name="University" placeholder="University" />
<p>Department</p>
<input class="form-control" type="text" name="Department" placeholder="Department" />


 <input class="form-control mb-3 mt-5" type="submit" value="Create" />

</form>
